.best-prices-wrapper {
  margin-bottom: 200px;
}

.best-prices-wrapper > h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 7px;
}

.product-wrapper {
  width: 315px;
  padding: 29px;
  background-color: var(--white);
  border-radius: 2px;
}
.product-wrapper > .product-image {
  text-align: center;
}

.product-wrapper > .product-info {
  margin-top: 15px;
  text-align: left;
}

.product-info > h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.product-info .product-about {
  font-weight: 400;
  font-size: 12px;
  line-height: 141.19%;
  color: var(--text-color);
  opacity: 0.4;
  margin: 5px 0px 8px 0px;
}

.product-info .product-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}

.product-wrapper .product-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.product-btn .product-buy{
    width: 100%;
    margin-top: 24px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    padding: 14px 47px;
    color: var(--white);
    cursor: pointer;
}
